body{
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #e0dfdfed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title{
    background-color: #edededed;
    font-size: xx-large;
    font-weight:bold;
    text-align: center;
    padding: 1.5rem 0rem 1.5rem 0rem;
}

.title-underline{
    display: flex;
    border: 0.25rem solid #DC0038;
    margin: 0rem 0rem 0.3rem 0rem;
}


.btn-strip{
    display: flex;
    justify-content: space-between;
}

.btn-left{
    display: flex;
    justify-content: left;
}

.btn-right{
    display: flex;
    justify-content: right;
}


.btn-add-item,
.btn-search,
.btn-show-all{
    border: 0.3rem solid  #F7c200;
    border-radius: 3rem;
    font-size: large;
    margin: 0.1rem 0.1rem 0.1rem 0.5rem;
    padding: 0.1rem 0.8rem;
}


.input-form{
    display: flex;
    flex-direction: column;
    margin: 0rem;
 }  

#box-title,
#box-name-first,
#box-name-last,
#box-pages{
   margin: 0.5rem 1rem; 
   width: 20 rem;  

}

#box-label-title,
#box-label-name-first,
#box-label-name-last,
#box-label-pages,
#box-label-read{
    display: flex;
    justify-content: flex-end;
    width: 26rem;
    background-color: #edededed;
    margin: 0.4rem auto; 
    align-items: center;
    font-size: large;
    border: 0.2rem solid #4ed7e0;
    border-radius: 0.5rem;
}

#box-title,
#box-name-first,
#box-name-last,
#box-pages{
    border: 0.2rem solid black;
    border-radius: 0.3rem;
}



#box-submit{
    width: 25rem;
    font-size: large;
    border: 0.3rem solid  #F7c200; 
    border-radius: 0.5rem;
    margin: 0.5rem auto;
}

#box-label-read{
    display: flex; 
    justify-content: center;
}

#box-read{
    margin: 0.5rem 0.6rem 0.5rem 1rem;
}


.card-container{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1rem auto;
}

.card{
    width: 13rem; 
    height: 16rem;
    display: flex; 
    background-color: #edededed;
    justify-content: space-evenly;
    justify-self: center;
    justify-items: flex-end;
    border:0.5rem solid #519DD9;
    border-radius: 0.9rem;
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0,0,0,0.8);
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    padding: 0.7rem 0.5rem 1rem 0.5rem;
    margin: 0.8rem 0.4rem;
    font-size: large;
}

.card-title,
.card-author,
.card.pages{
    margin: 0rem 0rem 0.5rem 0rem;
}

.card-title{
    font-weight: bold;
} 

.btn-read,
.btn-not-read,
.btn-delete{
    display: flex;
    margin: 0.2rem auto;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: medium;
    background-color: #e0dfdfed;
    width: 8rem;
    border: 0.2rem solid #F7c200;
    border-radius: 0.9rem;
    padding: 1rem auto;
}

#box-search{
    width: 25rem ;
    margin: 1rem auto;
    font-size: large;
    border: 0.2rem solid #F7c200;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: #edededed;

}
